* { margin: 0; padding: 0;}

body, html {
  width:100%;
  text-align: center;
  background: #ffd394;
  opacity: 60%;
  padding-top: 20px;

}

h1 {
  margin: 0 auto;
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Khand, sans-serif;
}

canvas {
  /*background: url(forest.jpg);*/
  position:relative;
  z-index:20;
  border-radius: 10px;

}

.img {
  position: absolute;
  z-index: 1;
  border-radius: 10px;

}

#container{
    margin-top: 300px;
    display: inline-block;
    width:1000px;
    height:600px;
    margin: 0 auto;
    background: black;
    position:relative;
    /*border:5px solid black;*/
    border-radius: 10px;
    box-shadow: 0 5px 30px #333
  }
